<rewrite>
    <rules>
        <rule name="All index">
            <match url=".*"/>
            <conditions>
                <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            </conditions>
            <action type="Redirect" url="index.php" />
        </rule>
    </rules>
</rewrite>